@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
* {
  box-sizing: border-box;
}

/* NAVBAR SECTION */
.navigation {
  position: absolute;
  background: transparent;
  z-index: 999;
  top: 0;
  text-align: center;
  opacity: 1;
  width: 100%;
}

.navigation .logo img {
  width: 32%;
  margin-top: 9%;
}

.navigation
.burger-nav,
.burger-wrapper,
.close-wrapper {
  display: none;
}

.inner-navbar ul {
  list-style-type: none;
  margin-left: 7%;
  padding: 38px 0;
}

.inner-navbar li {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 40px;
}

.inner-navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 14px;
  /*&:hover {
             color: #e74c3c;
             border-bottom: 2px solid #e74c3c;
        }*/
}

.inner-navbar .underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.inner-navbar .underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -1px;
  background: #e74c3c;
  height: 2px;
  border-radius: 5px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.inner-navbar .underline:hover:after,
.inner-navbar .underline:focus:after,
.inner-navbar .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.inner-navbar .contact {
  border: 2px solid #fff;
  padding: 8px 27px;
  border-radius: 5px;
}

.inner-navbar .contact:hover {
  background-color: white;
  cursor: pointer;
  transition: .5s;
}

/* SWIPER SECTION */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 4%;
  border-radius: 3px;
  background-color: #696869;
  opacity: 0.6;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 4%;
  border-radius: 3px;
  background-color: #696869;
  opacity: 0.6;
}

.swiper-button-prev:hover {
  background-color: #e74c3c;
  opacity: 1;
}

.swiper-button-next:hover {
  background-color: #e74c3c;
  opacity: 1;
}

.swiper-button-prev .fa-chevron-left {
  color: #353434;
  padding-right: 2px;
}

.swiper-button-next .fa-chevron-right {
  color: #353434;
  padding-left: 3px;
}

.swiper-button-prev:hover .fa-chevron-left:before {
  color: #fff;
}

.swiper-button-next:hover .fa-chevron-right:before {
  color: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 11%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-wrapper .hero {
  display: block !important;
  color: #fff;
}

.swiper-wrapper .hero .line {
  padding-top: 24px;
}

.swiper-wrapper .hero h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
}

.swiper-wrapper .hero h4 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  padding-bottom: 15px;
}

.swiper-wrapper .hero p.text-desktop {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #cbc6c0;
  font-size: 13px;
  line-height: 25px;
  padding: 34px 0;
}

.swiper-wrapper .hero p.text-mobile {
  display: none;
}

.swiper-wrapper .hero .text-mobile {
  display: none;
}

.swiper-wrapper .btn-wrapper {
  display: flex;
  justify-content: center;
}

.swiper-wrapper .btn-wrapper .btn {
  flex-direction: row;
  width: 100%;
  height: 155%;
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  font-size: 12px;
}

.swiper-wrapper .btn-wrapper .btn:hover {
  cursor: pointer;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
}

/* anchor */
.anchor-section {
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.anchor-section img {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-55%, -58%);
}

/* Bottom Section */
.bottom-section {
  text-align: center;
  padding: 7% 0;
}

.bottom-section .box {
  height: 65px;
  width: 65px;
  border: 1px solid #e5e5e5;
  margin: 0 auto;
}

.bottom-section .icon {
  position: absolute;
}

.bottom-section .icon1 {
  top: 11%;
  right: 45%;
}

.bottom-section .icon2 {
  top: 10%;
  right: 45%;
}

.bottom-section .icon3 {
  top: 7%;
  right: 47%;
}

.bottom-section .icon4 {
  top: 10%;
  right: 46%;
}

.bottom-section h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #6a6a6a;
  font-size: 17px;
  letter-spacing: 1px;
  padding-top: 20px;
}

.bottom-section p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #999999;
  margin-top: 10px;
}

.bottom-section .icon-wrapper :hover {
  cursor: pointer;
}

.bottom-section [class*="col-"]:hover h4 {
  color: #e74c3c;
  cursor: pointer;
}

.bottom-section .box:hover {
  cursor: pointer;
  border: 1px solid #e74c3c;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.bottom-section .box:not(:hover) {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

/* MEDIA QUERIES */
@media (min-width: 300px) and (max-width: 430px) {
  .navbar-brand img {
    width: 65%;
    margin: 10px 0 0 36px;
  }
  .swiper-wrapper .hero h4 {
    font-size: 25px;
    padding: 0 28%;
  }
  .main-slider h2 {
    font-size: 49px;
  }
  .swiper-wrapper .hero .line {
    padding: 0;
  }
  .swiper-wrapper .hero p {
    padding: 20px 0;
  }
  .swiper-wrapper .hero p.text-desktop {
    display: none;
  }
  .swiper-wrapper .hero p.text-mobile {
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: #cbc6c0;
    font-size: 13px;
    line-height: 25px;
    padding: 20px 76px;
  }
  .btn-wrapper .btn-hide {
    display: none;
  }
  .swiper-wrapper .btn-wrapper {
    display: block;
  }
  .swiper-wrapper .btn-wrapper .btn {
    width: 50%;
    height: auto;
    padding: 18px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  .anchor-section img {
    transform: translate(-51%, -50%);
  }
  .bottom-section {
    padding: 18% 0;
  }
  .bottom-section .icon-wrapper {
    padding: 6% 0;
  }
  .bottom-section .icon1 {
    top: 18%;
    right: 173px;
  }
  .bottom-section .icon2 {
    top: 17%;
    right: 46%;
  }
  .bottom-section .icon3 {
    top: 14%;
    right: 48%;
  }
  .bottom-section .icon4 {
    top: 17%;
    right: 47%;
  }
  .bottom-section p {
    font-size: 15px;
    padding: 0 19%;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
  .navbar-toggler {
    right: -57px;
    top: 10px;
  }
  /* NAVIGATION-MOBILE */
  .navigation .logo {
    text-align: center;
  }
  .navigation .logo img {
    width: 34% !important;
    margin-top: 10% !important;
  }
  .navigation .top-wrapper {
    width: 100%;
    padding: 0;
    height: 0;
  }
  .navigation .top-wrapper.open {
    width: 94vw;
    padding: 0;
    background-color: #fff;
    height: 101vh;
    margin-left: 12%;
  }
  .navigation .burger-wrapper {
    display: block;
    transform: translate(35%, -165%);
  }
  .navigation .close-wrapper {
    display: none;
  }
  .navigation .close-wrapper img {
    transform: translate(26vw, -5vh);
  }
  .navigation .burger-nav {
    display: block;
    width: 54%;
    cursor: pointer;
  }
  .navigation .inner-navbar {
    padding: 0;
  }
  .navigation .inner-navbar ul {
    overflow: hidden;
    height: 0;
    padding: 0;
  }
  .navigation .inner-navbar ul.open {
    height: auto;
    margin: 0;
  }
  .navigation .inner-navbar ul li {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    width: 100vw;
    border-top: 1px solid gray;
  }
  .navigation .inner-navbar ul li:last-child {
    border-bottom: 1px solid gray;
  }
  .navigation .inner-navbar ul li a {
    display: block;
    color: gray;
    font-size: 35px;
    padding: 10px 0 10px 35px;
  }
  .navigation .inner-navbar ul li a:hover {
    color: #e74c3c;
    border: 0;
    background-color: #f4f5f9;
  }
}

/*# sourceMappingURL=style.css.map */